mixin nav-item(name)
  li.primary-nav__item(class=name===active ? 'active' : '')
    a.primary-nav__item__link(href="#{name.toLowerCase().split(' ').join('-')}")= name
    span.primary-nav__item__accent

doctype html
html(lang='en')
  head
    title= title
      |  | Jackie Kutcher
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href=assetFingerprint("css/main.css"))
    link(rel='author' content='David Zukowski' href='//zuko.me')
    link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,700,300,800' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css')
  body
    div.page-container
      block header
      nav.primary-nav
        div.content-container.clearfix
          a(href='/').primary-nav__hero
            span Jackie
            spab.primary-nav__hero__accent  |&nbsp;
            span Kutcher
          a.primary-nav__toggle
            i.fa.fa-bars
          ul.primary-nav__links.list--unstyled
            li.tablet-only
              a(href='/') Home
              span.underline
            +nav-item('About')
            +nav-item('BSW Education')
            +nav-item('Career')
            +nav-item('Gallery')
            +nav-item('Contact')
      div.view-container
        if heading
          h1.heading--section#heading
            span.copy=heading
        block view-content
      footer
        div.content-container
          div.contact
            ul.contact__links
              li.email
                a(href='mailto:test@dev.com')
                  span.sr-only Email
                  i.fa.fa-envelope-o
              li.linkedin
                a(href='//linkedin.com/pub/jacqueline-kutcher/b1/754/2ba')
                  span.sr-only LinkedIn
                  i.fa.fa-linkedin
    script(src=assetFingerprint('app/app-bundle.js'))
