doctype html
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      p= data.message
      p From: #{data.firstName} #{data.lastName} (#{data.email})
